# WhatsApp sessions (Local cache & Auth)
**/.wwebjs_auth/
**/.wwebjs_cache/
.wwebjs_auth/
.wwebjs_cache/

# Node
node_modules/
.env
dist/
build/
backend/public/uploads/*
!backend/public/uploads/.gitkeep
.DS_Store
*.log
